/*
 * SPDX-FileCopyrightText: 2020 Jonah Brüchert <jbb@kaidan.im>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

body {
    background-color: rgb(52, 73, 94);
    color: rgb(255, 255, 255)
}

.navigation {
    background-color: rgb(44, 62, 80);
    color: rgb(255, 255, 255)
}

.input {
    background-color: rgb(52, 73, 94);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-bottom: 0px
}

.overlay {
    background-color: rgb(74, 105, 135);
}

.round {
    border-radius: 20px;
}

.video:not(:fullscreen) {
    border-radius: 20px;
}

.button {
    border-radius: 20px;
    background-color: rgb(26, 188, 156);
    margin-bottom: 4px;
}

.button:hover {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.fillwidth {
    width: 100%
}

.error {
    background-color: rgb(218, 68, 83);
}

.animated-tooltip {
    position: relative
}
.animated-tooltip .w3-text {
    animation-name: fold-close;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
.animated-tooltip:hover .w3-text {
    display: inline-block;
    animation-name: fold;
    animation-duration: 0.1s;
}

@keyframes fold {
    from {
        height: 0px;
        opacity: 0;
        font-size: 0px;
        display: none;
    }

    to {
        height: 400;
        opacity: 100;
        font-size: auto;
        display: inline;
    }
}

@keyframes fold-close {
    from {
        height: 400;
        opacity: 100;
        font-size: auto;
        display: inline;
    }

    to {
        height: 0px;
        opacity: 0;
        font-size: 0px;
        display: none;
    }
}

.no-hover {
    pointer-events : none;
}

.hover {
    pointer-events: initial;
}

h1 {
    font-size: 26px
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.video-list-item {
    margin-bottom: 10px;
    background-color: #3f546b;
    border-radius: 5px;
}

@media (min-width: 500px) {
    .video-list-item {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 500px) {
    .video-list-item {
        padding: 10px;
    }
}

.video-list-img {
    align-self: center;
    padding: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px;
}

@media (max-width: 500px) {
    .video-list-img {
        width: 95%;
    }
}

.search-bar-input {
    display: flex;
    flex-direction: row;
}

.playlist {
    height: 450px;
    overflow-y: scroll;
    padding: 20px;
    background-color: #3f546b;
}

.tab, .tab-highlighted {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-decoration: none;
}

.tab-active-background {
    background-color: #536a82;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.tab:hover {
    background-color: #455c75;
}

.tab {
    background-color: #3f546b;
}

.playlist-highlighted, .tab-highlighted {
    background-color: #536a82;
}

@media (max-width: 500px) {
    .padding-frame {
        padding: 20px
    }
}

@media (min-width: 500px) {
    .padding-frame {
        padding: 40px
    }
}