/*
 * SPDX-FileCopyrightText: 2019 JaniRefsnes
 * SPDX-FileCopyrightText: 2019 Borge Refsnes
 *
 * SPDX-License-Identifier: MIT
 */

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
a{background-color:transparent}a:active,a:hover{outline-width:0}
input{font:inherit;margin:0}
input{overflow:visible}
[type=submit]{-webkit-appearance:button}
[type=submit]::-moz-focus-inner{border-style:none;padding:0}
[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}a{color:inherit}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.w3-button:disabled{cursor:not-allowed;opacity:0.3}:disabled *{pointer-events:none}
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.w3-bar{width:100%;overflow:hidden}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-button{white-space:normal}
.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-content{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-center{text-align:center!important}.w3-padding{padding:8px 16px!important}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
